@model gestionDePiletaSportClub.ViewModels.ActivityViewModel
@{
    ViewBag.Title = "Nuevo Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Actividad </h2>
<hr />

@{ 
    var flagCancelar = true;
    if (@Model.Activity.EstadoActividadId == gestionDePiletaSportClub.Models.EstadoActividad.Cancelada) {
        flagCancelar = false;
    }
}

<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">@Model.Activity.TipoActividad.Name</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"> <strong>Nivel:</strong> </div>
            <div class="col-md-8"> @Model.Activity.Level.Name </div>
        </div>
        <div class="row">
            <div class="col-md-4"> <strong>Plan:</strong> </div>
            <div class="col-md-8"> @Model.Activity.MembershipType.Name </div>
        </div>
        <div class="row">
            <div class="col-md-4"> <strong>Estado:</strong> </div>
            <div class="col-md-8" id="activityStatus"> @Model.Activity.EstadoActividad.Name </div>
        </div>
        <div class="row">
            <div class="col-md-4"> <strong>Cupos disponibles:</strong> </div>
            <div class="col-md-8"> @Model.Activity.PendingEnrollment </div>
        </div>
        <div class="row">
            <div class="col-md-4"> <strong>Inicio:</strong> </div>
            <div class="col-md-8"> @Model.Activity.Schedule </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                    Inscripciones
                </h4>
            </div>
        </div>
        <!-- Table -->
        @if (Model.Enrollments.Count > 0)
        {
        <table id="enrollments" class="table table-hover">
            <thead>
                <tr>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Estado </th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var enrollment in Model.Enrollments)
            {
                <tr>
                    <td>@enrollment.ApplicationUser.Name</td>
                    <td>@enrollment.ApplicationUser.LastName</td>
                    <td><span>@enrollment.EnrollmentStatus.Name</span></td>
                    <td><button type="button" class="btn-link js-presente" data-enrollment-id="@enrollment.Id" data-enrollment-status="@gestionDePiletaSportClub.Models.EnrollmentStatus.Presente"> Presente </button> | <button type="button" class="btn-link js-ausente" data-enrollment-id="@enrollment.Id" data-enrollment-status="@gestionDePiletaSportClub.Models.EnrollmentStatus.Ausente"> Ausente </button> </td>
                </tr>

        }
            </tbody>
        </table>

        }
        else
        {
            <p class="text-center">No hay inscripciones para esta clase</p>
        }
    </div>
    <div class="panel-footer p">
        <p class="text-right">
            <a class="btn btn-default btn-lg" href="@Url.Action("ListActivities","Activity")">Volver</a>
            <button id="btnCancelar" class="btn btn-lg btn-danger js-cancelar" data-activity-id="@Model.Activity.Id" style="@(flagCancelar==false ? "display:none;":null)"> Cancelar clase</button>
            <button id="btnAbrir" class="btn btn-lg btn-success js-abrir" data-activity-id="@Model.Activity.Id" style="@(flagCancelar==true ? "display:none;":null)"> Habilitar clase</button>
            
        </p>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(
            function () {
                var rows = $("#enrollments")[0].lastElementChild.rows;
                for (var i = 0; i < rows.length; i++) {
                    var td = rows[i].children[2];
                    var span = td.firstChild;
                    var status = span.innerText;
                    if (status == 'Presente') {
                        span.className = "label label-success";
                    }
                    
                    else {
                        if (status == 'Pendiente') {
                            span.className = "label label-info";
                        } else {
                            span.className = "label label-danger";
                        }
                    }   
                }
            }
        );

        $("#enrollments").on("click", ".js-presente",
            function () {

                enrollmentId = $(this).attr("data-enrollment-id");
                status = $(this).attr("data-enrollment-status");
                var $row = $(this).closest("tr");        // Finds the closest row <tr> 
                
                var body = { "id": enrollmentId, "status": status };
                $.ajax(
                    {
                        url: "/api/enrollments/" + enrollmentId,
                        method: "PUT",
                        data: body,
                        success: function () {
                            toastr.success('Inscripcion actualizada con exito a Presente');
                            changeEnrollmentStatusView($row, 'presente');
                        },
                        error: function () {
                            toastr.error('Problemas al actualizar la inscripcion');

                        }
                    }
                );
            }
        );
        $("#enrollments").on("click", ".js-ausente",
            function () {
                enrollmentId = $(this).attr("data-enrollment-id");
                status = $(this).attr("data-enrollment-status");
                var body = { "id": enrollmentId, "status": status };
                var $row = $(this).closest("tr"); 
                $.ajax(
                    {
                        url: "/api/enrollments/" + enrollmentId,
                        method: "PUT",
                        data: body,
                        success: function () {
                            toastr.success('Inscripcion actualizada con exito a Ausente');
                            changeEnrollmentStatusView($row, 'ausente');
                        },
                        error: function () {
                            toastr.error('Problemas al actualizar la inscripcion');

                        }
                    }
                );
            }
        );

        $("#btnCancelar").on("click",
            function () {
                var button = $(this);
                activityId = $(this).attr("data-activity-id");

                bootbox.confirm(
                    {
                        "backdrop": false,
                        "title": "Confirmacion",
                        "message": "<h4>Desea cancelar esta clase?</h4>",
                        "callback": function (result) {
                            if (result) {
                                //button.attr('Disabled', 'Disabled');
                                $.ajax(
                                    {
                                        url: "/api/activities/" + activityId,
                                        method: "DELETE",
                                        success: function () {
                                            toastr.success('Clase cancelada con exito');
                                            button.hide();
                                            $("#btnAbrir").show();
                                            $("#activityStatus").html('Cancelada');

                                        },
                                        error: function () {
                                            toastr.error('Problemas al cancelar la clase');
                                            button.show();
                                        }
                                    }
                                );
                            }
                        }
                    });

            }

        );

        $("#btnAbrir").on("click",
            function () {
                var button = $(this);
                activityId = $(this).attr("data-activity-id");
                bootbox.confirm(
                    {
                        "backdrop": false,
                        "title": "Confirmacion",
                        "message": "<h4>Desea habilitar esta clase?</h4>",
                        "callback": function (result) {
                            if (result) {

                                $.ajax(
                                    {
                                        url: "/api/activities/" + activityId,
                                        method: "PUT",
                                        success: function () {
                                            toastr.success('Clase abierta con exito');
                                            $("#activityStatus").html('Abierta');
                                            button.hide();
                                            $("#btnCancelar").show();
                                        },
                                        error: function () {
                                            toastr.error('Problemas al abrir la clase');
                                            button.show();
                                        }
                                    }
                                );
                            }
                        }
                    });

            }

        );

        function changeEnrollmentStatusView(row, status ) {
            var $tds = row.find("td:nth-child(3)");
            var span = $tds[0].firstChild;
            
            if (status == 'presente') {
                span.className = "label label-success";
                span.innerText = "Presente";
            }
            else {
                span.className = "label label-danger";
                span.innerText = "Ausente";
            }
            //$tds[0].innerHTML = "";
            //$tds[0].innerHTML = span.outerHTML;

        }


    </script>    
    
}


