@using Microsoft.AspNet.Identity
@model gestionDePiletaSportClub.ViewModels.ActivityIndexViewModel
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actividades</h2>
<hr />

<!--<div id='calendar' data-user-id="@User.Identity.GetUserId()"></div>-->
<div id='calendar' 
     data-user-id="@User.Identity.GetUserId()" 
     data-plan-id="@Model.PlanId" 
     data-level-id="@Model.LevelId"
     data-payment-date="@Model.PaymentDate"
     data-due-date="@Model.DueDate">

</div>


@section scripts{
    <script>

        var enrollments = null;
        $(document).ready(function () {

            
            var userId = $('#calendar').attr('data-user-id');
            var planId = $('#calendar').attr('data-plan-id');
            var levelId = $('#calendar').attr('data-level-id');
            var paymentDate = $('#calendar').attr('data-payment-date');
            var dueDate = $('#calendar').attr('data-due-date');
            getUserEnrollments(userId);

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                locale: 'es',
                defaultView: 'agendaWeek',
                buttonText: {
                    today: 'Hoy'
                },
                eventClick: function (event, jsEvent, view) {
                    
                    if (event.allowEnrollment) {
                        if (event.activityId == event.id) {
                            bootbox.confirm(
                                {
                                    "backdrop": false,
                                    "title": "Inscripcion",
                                    "message": "Desea inscribirse a esta clase?",
                                    "callback": function (result) {
                                       
                                        if (result) {
                                            $.ajax(
                                                {
                                                    
                                                    url: "/api/enrollments/",
                                                    data: { "userId": userId, "activityId": event.activityId },
                                                    method: "POST",
                                                    success: function () {
                                                        toastr.success('Inscripcion realizada con exito');
                                                        getUserEnrollments(userId);

                                                        $('#calendar').fullCalendar('refetchEvents');

                                                    },
                                                    error: function () {
                                                        toastr.error('Problemas al realizar la inscripcion');
                                                    }
                                                }
                                            );
                                        }
                                    }
                                });
                        }
                        else {
                            bootbox.confirm(
                                {
                                    "backdrop": false,
                                    "title": "Clase",
                                    "message": "<h4>Desea darse de baja de esta clase?</h4>" +
                                        "<br /> <b>Nivel: </b>" + event.level +
                                        "<br /> <b>Plan: </b>" + event.membership +
                                        "<br /> <b>Cupos disponibles: </b>" + event.pendings,
                                    "callback": function (result) {
                                        if (result) {
                                            $.ajax(
                                                {
                                                    url: "/api/enrollments/" + event.id,
                                                    method: "DELETE",
                                                    success: function () {
                                                        getUserEnrollments(userId);
                                                        toastr.success('Baja procesada con exito');
                                                        $('#calendar').fullCalendar('refetchEvents');

                                                    },
                                                    error: function () {
                                                        toastr.error('Problemas al darse de baja de la clase');

                                                    }
                                                }
                                            );
                                        }
                                    }
                                });
                        }
                    }

                },
                events: function (start, end, timezone, callback) {
                    //var from = start.toISOString();
                    //var to = end.toISOString();
                    var from = paymentDate;
                    var to = dueDate;


                    new_url = '/api/activities/?planId=' + planId + '&levelId=' + levelId + '&fromDate=' + from + '&toDate=' + to;
                    $.ajax({
                        url: new_url,
                        dataType: 'json',
                        type: 'GET',
                        success: function (response) {
                            
                            response.forEach(e => { e = validateEvent(e) });
                            user_events = response;
                            callback(response);
                        }
                    });
                },
                
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5, 6], // Monday - Thursday

                    start: '8:00', // a start time (10am in this example)
                    end: '21:00' // an end time (6pm in this example)
                },
                eventRender: function (event, element) {
                    element.find('.fc-title').append("<br/> Plan: " + event.membership + "<br/> Nivel: " + event.level + "<br/> Cupos disponibles: " + event.pendings);
                },
                minTime: "08:00:00",
                maxTime: "21:00:00",
                allDaySlot: false,
                height: 'auto'

            });

        });

        function validateEvent(eventDto) {
            var color = '';
            var now = new Date().toISOString();
            if (eventDto.membership == 'Menor') {
                color = '#2196f3';
            }
            if (eventDto.membership == 'Adulto') {
                color = '#800080';
            } if (eventDto.membership == 'Bebe') {
                color = '#008000';
            }

            enrollments.forEach(e => {
                if (e.activityId == eventDto.activityId) {
                    //eventDto.allowEnrollment = false;
                    eventDto.id = e.id;
                    color = "#1BD8CB";
                } 
            });
            if (eventDto.pendings <= 0 || eventDto.start.localeCompare(now) <= 0 || eventDto.status == 'Cancelada') {
                color = '#FF0000';
                eventDto.allowEnrollment = false;
            }
            eventDto.backgroundColor = color;

            return eventDto;
        }

        function getUserEnrollments(userId) {

            var date = new Date();
            var fromDate = date.toISOString();
            new_url = '/api/users/' + userId + '/enrollments?fromDate=' + fromDate;
            $.ajax({
                url: new_url,
                dataType: 'json',
                type: 'GET',
                success: function (response) {
                    enrollments = response;
                }
            });

        }

    </script>
}
