@model gestionDePiletaSportClub.Models.ApplicationUser
@{
    ViewBag.Title = "Index";

}

<h2>@Model.Name @Model.LastName</h2>
<h4>
    @Model.MembershipType.Name
</h4>
<br />
<h4>
    @Model.PaymentType.Name
</h4>
<br />
<h4>
    @Model.Level.Name
</h4>