@model List<gestionDePiletaSportClub.Models.ApplicationUser>
@{
    ViewBag.Title = "Usuarios";

}

<h2> Usuarios </h2>
<a class="btn btn-primary" href="@Url.Action("New","User")">Crear usuario</a>
<br />
<div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">

        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Plan</th>
                    <th>Nivel</th>

                </tr>
            </thead>
            <tbody>
                @foreach (gestionDePiletaSportClub.Models.ApplicationUser user in Model)
                {

                    var membershipType = user.MembershipTypeId == null ? "" : user.MembershipType.Name;
                    var level = user.LevelId == null ? "" : user.Level.Name;

                    <tr>
                        <td>@Html.ActionLink(user.Name + " " + user.LastName, "Edit", "User", new { Id = user.Id }, null)</td>
                        <td>@user.DNI</td>
                        <td>@user.Email</td>
                        <td>@membershipType</td>
                        <td>@level</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
